<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
{% load static %}
   

    <meta charset="UTF-8">
    <title> Personal Blog </title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style></style>
     {% block content%}

      
  {% endblock %}

  
       
<ul>
    {% if request.user.is_authenticated %}


    <form action="{% url 'logout' %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-link nav-item nav-link" style="color: #4b35d9;">Logout</button>
    </form>
  
    {% else %}
    
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Sign Up</a></li>
    {% endif %}
</ul>
</html>