{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Fonts and Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

  <title>Blog Post Details</title>
</head>

<body>
  {% include 'header.html' %}

  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <!-- Blog Post Content -->
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="blog-post">
              <div class="blog-thumb">
                <img src="{{media_url}}{{post.image}}" alt="post_image">
              </div>
              <div class="down-content">
                <span>{{post.category}}</span>
                <h4>{{post.postname}}</h4>
                <ul class="post-info">
                  <li><a href="#">{{post.user}}</a></li>
                  <li><a href="#">{{post.time}}</a></li>
                  <li><a href="#">{{total_comments}} Comments</a></li>
                </ul>
                <p>{{post.content}}</p>

                <!-- Like Button Form -->
                <form method="POST" action="{% url 'increaselikes' post.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Like</button>
                </form>
              </div>
            </div>

            <!-- Comment Section -->
            <div class="sidebar-item comments">
              <div class="sidebar-heading">
                <h2 class="text-dark-emphasis">{{total_comments}} Comments</h2>
              </div>
              <div class="content">
                <ul>
                  {% for comment in comments %}
                  <li>
                    <div class="ps-3">
                      <h5>{{comment.user}} <span class="small text-black-50 px-5">{{comment.time}}</span>
                        {% if post.user == user or comment.user == post.user %}
                        <a href="{% url 'deletecomment' comment.id %}" onclick="return confirm('Are you sure you want to delete this comment?')">
                          Delete 
                      </a>
                        {% endif %}
                      </h5>
                      <p>{{comment.content}}</p>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <!-- Submit Comment Section -->
            {% if user.is_authenticated %}
            <div class="sidebar-item submit-comment">
              <div class="sidebar-heading">
                <h2>Your Comment</h2>
              </div>
              <div class="content">
                <form method="POST" action="{% url 'savecomment' post.id %}">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-12">
                      <textarea name="message" rows="6" placeholder="Type your comment" class="form-control" required></textarea>
                    </div>
                    <div class="col-lg-12 mt-3">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}
          </div>
        </div>

        <!-- Sidebar with Recent Posts -->
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-item recent-posts">
              <div class="sidebar-heading">
                <h2>Recent Posts</h2>
              </div>
              <div class="content">
                <ul>
                  {% for post in recent_posts|slice:"0:4" %}
                  <li>
                    <img src="{{media_url}}{{post.image}}" class="img-fluid" alt="">
                    <a href="{% url 'post' post.id %}" class="text-decoration-none text-dark">
                      <h5>{{post.postname}}</h5>
                      <span>{{post.time}}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'footer.html' %}

  <!-- JavaScript Libraries -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/owl.js' %}"></script>
  <script src="{% static 'assets/js/slick.js' %}"></script>
  <script src="{% static 'assets/js/isotope.js' %}"></script>
  <script src="{% static 'assets/js/accordions.js' %}"></script>
</body>

</html>
